@model IEnumerable<Nankivell_MIS4200.Models.Adventure>

@{
    ViewBag.Title = "Index";
}

<h2>Adventures</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Character.characterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Episode.episodeTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aPlot)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Character.characterName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Episode.episodeTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aPlot)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.adventureId }) |
            @Html.ActionLink("Details", "Details", new { id=item.adventureId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.adventureId })
        </td>
    </tr>
}

</table>
