@model Nankivell_MIS4200.Models.Episode

@{
    ViewBag.Title = "Details";
}

<h2>Episode details</h2>

<div>
    <h4>Episode</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.episodeTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.episodeTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.episodeNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.episodeNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Season)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Season)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.episodeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
