@model IEnumerable<Nankivell_MIS4200.Models.Character>

@{
    ViewBag.Title = "Index";
}

<h2>Character list</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.characterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.roleInFamily)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.characterName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.roleInFamily)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.characterId }) |
            @Html.ActionLink("Details", "Details", new { id=item.characterId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.characterId })
        </td>
    </tr>
}

</table>
